/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  /* Light gray background */
  --foreground: #171717;
  /* Dark text */
  --primary: #5aba47;
  /* Primary green */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  margin: 0;
}

header {
  height: 64px;
  /* Navbar height */
}

button {
  @apply text-lg font-semibold text-[#5aba47] hover:text-green-700 transition-all duration-300;
}

main {
  padding-top: 72px;
  /* Prevent overlap, adjust slightly larger than navbar */
}